@import "../body_part/header";

*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url('../image/background_picture.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 