@import "../utils/mixins";

main{
    background-color: rgb(240,240,240);
    padding-top: 25px;
    width: 100%;
}

.main_struct{
    @include struct-page;
}

h2{
    text-align: center;
    margin-bottom: 15px;
}

.block_promo, .block_top_sell, .block_last_item{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 620px;
    margin: auto;
    margin-bottom: 80px;
}

.grid_1{
    width: 200px;
    height:200px;
}